<div class="fondo3 fondo5">
	<article class="faqshow w600">
		<div class="faqtitle clearfix">
			<h1>Especies con Actividad</h1></div>
			<div class="qya">
			<h2>Listado de especies con modelos para validar</h2></br>
				<div class="ilb">
				<h3>Anfibios</h3>
					<p><a>ejemplo</a><br/>
				</div>

			</div>
	</article>	
</div>